<main>

    <div class="relative flex content-center items-center justify-center" style="min-height: 8vh;">
        <div class="absolute top-0 w-full h-full bg-gray-900"></div>
    </div>


    <div class="py-16 bg-gray-300">
        <div class="container mx-auto px-4">

            <div class="justify-center content-center flex-wrap text-center my-20" id="empty_cat">
                <img src="/images/illustrations/project_not_found.svg" alt="" class="w-1/4 mx-auto">
                <h3 class="text-gray-600 text-1xl my-5">Aucun projet n'a été trouvé sous ce nom !</h3>
                <a href="<%= BASE_URL %>projets" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Retour en arrière</a>

            </div>

        </div>
    </div>
</main>