<main>
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 100vh;">
        <div class="absolute top-0 w-full h-full bg-gray-900"></div>
        <div class="container relative mx-auto">
            <div class="items-center flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                    <h1 class="text-white font-semibold text-5xl">Mikhaël Bailly</h1>
                    <p class="mt-4 text-lg text-gray-300">
                        Développeur Web Front-end et Back-end à Paris.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="py-20 bg-gray-300">
        <div class="container mx-auto px-4">

            <h1 class="text-gray font-semibold text-4xl text-center">A propos de moi</h1>

            <div>
                <div class="container mx-auto px-4 my-20">

                    <div class="items-center flex flex-wrap my-20" data-aos="fade-left" data-aos-duration="700" data-aos-once="true">
                        <div class="w-full md:w-6/12 ml-auto mr-auto px-4">
                            <img alt="Illustration" class="max-w-full" src="images/illustrations/creative.svg"/>
                        </div>
                        <div class="w-full md:w-6/12 ml-auto mr-auto px-4">
                            <div class="md:pr-12 mt-5">
                                <h3 class="text-3xl font-semibold">Je suis créatif</h3>
                                <p class="mt-4 text-lg leading-relaxed text-gray-600">L’aspect créatif est très important dans ce métier, et encore plus pour moi. J'exprime cette créativité à travers les nombreux projets web que j'ai pu réalisé, tout en me tenant à jour sur les nouvelles tendances actuelles.</p>
                            </div>
                        </div>
                    </div>
                    
                    <hr class="mx-auto border-b-1 w-4/5 border-gray-400">
                    
                    <div class="items-center flex flex-wrap my-20" data-aos="fade-right" data-aos-duration="700" data-aos-once="true">
                        <div class="w-full md:w-6/12 ml-auto mr-auto px-4">
                            <div class="md:pr-12 mt-5">
                                <h3 class="text-3xl font-semibold">Développeur</h3>
                                <p class="mt-4 text-lg leading-relaxed text-gray-600">Développement coté client et serveur, je maitrise les langages web de base (html, css, javascript, php) et m'intéresse également aux nouvelles technologies comme les frameworks JS (nodejs, vuejs, reactjs) ou encore les systèmes de base de données (Sql et NoSql)</p>
                            </div>
                        </div>
                        <div class="w-full md:w-6/12 ml-auto mr-auto px-4 order-first sm:order-first md:order-last lg:order-last xl:order-last">
                            <img alt="Illustration" class="max-w-full" src="images/illustrations/developper.svg"/>
                        </div>
                    </div>
                    
                    <hr class="mx-auto border-b-1 w-4/5 border-gray-400">

                    <div class="items-center flex flex-wrap my-20" data-aos="fade-left" data-aos-duration="700" data-aos-once="true">
                        <div class="w-full md:w-6/12 ml-auto mr-auto px-4">
                            <img alt="Illustration" class="max-w-full" src="images/illustrations/student.svg"/>
                        </div>
                        <div class="w-full md:w-6/12 ml-auto mr-auto px-4">
                            <div class="md:pr-12 mt-5">
                                <h3 class="text-3xl font-semibold">Étudiant</h3>
                                <p class="mt-4 text-lg leading-relaxed text-gray-600">
                                    Etudiant en master <span class="font-bold">"Expert en Systèmes d'information"</span> à l'école <a href="https://www.mydigitalschool.com/" class="text-blue-700 underline" target="blank">MyDigitalSchool Paris</a>, développeur backend (php) en alternance chez <a href="https://www.subskill.com/" class="text-blue-700 underline" target="blank">Subskill</a> et également auto-entrepreneur.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <section class="pb-20 relative block bg-gray-300">
        <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
            <div class="flex flex-wrap text-center justify-center">
                <div class="w-full lg:w-6/12 px-4">
                    <h2 class="text-gray font-semibold text-4xl text-center">Mes derniers projets</h2>
                    <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-600">
                        Voici quelques-uns de mes projets réalisés. N'hésitez pas a suivre mon actualité sur <a href="https://github.com/mikheull" target="blank" class="text-blue-700 underline">github</a> pour vous tenir informé de mon activité.
                    </p>
                </div>
            </div>

            <div class="flex flex-wrap mt-12 justify-center">
                <div class="w-full lg:w-3/12 px-4 text-center mb-10">
                    <div class="text-white p-3 w-12 h-12 shadow-lg rounded-full bg-gray-900 inline-flex items-center justify-center">
                        <i class="fa fa-book"></i>
                    </div>
                    <h6 class="text-xl mt-5 font-semibold">Hygie</h6>
                    <p class="mt-2 mb-4 text-gray-600">
                        Application web prévue pour sensibiliser et rediriger les patients avant leur arrivée a l'hopital.
                    </p>
                </div>
                    <div class="w-full lg:w-3/12 px-4 text-center mb-10">
                    <div class="text-white p-3 w-12 h-12 shadow-lg rounded-full bg-gray-900 inline-flex items-center justify-center">
                        <i class="fa fa-columns"></i>
                    </div>
                    <h5 class="text-xl mt-5 font-semibold">Improove</h5>
                    <p class="mt-2 mb-4 text-gray-600">
                        Plateforme complète dédié à la gestion de projet en mode AGILE.
                    </p>
                </div>
                <div class="w-full lg:w-3/12 px-4 text-center mb-10">
                    <div class="text-white p-3 w-12 h-12 shadow-lg rounded-full bg-gray-900 inline-flex items-center justify-center">
                        <i class="fa fa-music"></i>
                    </div>
                    <h5 class="text-xl mt-5 font-semibold">Sooneos</h5>
                    <p class="mt-2 mb-4 text-gray-600">
                        Application Web reliée à votre compte Spotify et Genius pour obtenir les paroles de vos musiques en temps réel.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="relative block py-24 lg:pt-0 bg-gray-300">
        <form method="post" id="contact-form">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
                    <div class="w-full lg:w-6/12">
                        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-900">
                            <div class="flex-auto p-5 lg:p-10">
                                <h4 class="text-2xl font-semibold text-white">Vous voulez me contacter ?</h4>
                                <p class="leading-relaxed mt-1 mb-4 text-gray-600">Remplissez ce formulaire</p>
                                <div class="relative w-full mb-3 mt-8">
                                    <label class="block uppercase text-white text-xs font-bold mb-2" for="full_name">Nom complet</label>
                                    <input type="text" name="full_name" id="full_name" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="John Doe"/>
                                </div>
                                <div class="relative w-full my-3">
                                    <label class="block uppercase text-white text-xs font-bold mb-2" for="email">Email</label>
                                    <input type="email" name="email" id="email" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="john.doe@gmail.com"/>
                                </div>
    
                                <div class="relative w-full mb-3">
                                    <label class="block uppercase text-white text-xs font-bold mb-2" for="message">Message</label>
                                    <textarea name="message" id="message" rows="4" cols="80" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="Ecrivez votre message..."></textarea>
                                </div>
                                <div class="mt-6">
                                    <div class="g-recaptcha" data-sitekey="6LekxN4UAAAAAEdtjEWarK04clcL_iNh1-XrZvMS" style="transform:scale(0.67);-webkit-transform:scale(0.67);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                                    <button name="send_message" class="bg-white text-gray-700 active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1">Envoyer le message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

</main>