<main>

    <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 100vh;">
        <div class="absolute top-0 w-full h-full bg-gray-900"></div>
        <div class="container relative mx-auto">
            <div class="items-center flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                    <div class="pr-12">
                        <h1 class="text-white font-semibold text-5xl">Mikhaël Bailly</h1>
                        <p class="mt-4 text-lg text-gray-300">
                            This is a simple example of a Landing Page you can build using
                            Tailwind Starter Kit. It features multiple CSS components
                            based on the Tailwindcss design system.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="py-20 bg-gray-300">
        <div class="container mx-auto px-4">

            <h1 class="text-gray font-semibold text-4xl text-center">A propos de moi</h1>

            <div>
                <div class="container mx-auto px-4 my-20">

                    <div class="items-center flex flex-wrap my-20" data-aos="fade-left" data-aos-duration="700" data-aos-once="true">
                        <div class="w-full md:w-6/12 ml-auto mr-auto px-4">
                            <img alt="Illustration" class="max-w-full" src="images/illustrations/creative_illustration.svg"/>
                        </div>
                        <div class="w-full md:w-6/12 ml-auto mr-auto px-4">
                            <div class="md:pr-12 mt-5">
                                <h3 class="text-3xl font-semibold">Je suis créatif</h3>
                                <p class="mt-4 text-lg leading-relaxed text-gray-600">L’aspect créatif est très important dans ce métier, et encore plus pour moi. J'exprime cette créativité a travers les nombreux projets web que j'ai pu réalisé, tout en me tenant a jour sur les nouvelles tendances actuelles.</p>
                            </div>
                        </div>
                    </div>
                    
                    <hr class="mx-auto border-b-1 w-4/5 border-gray-400">
                    
                    <div class="items-center flex flex-wrap my-20" data-aos="fade-right" data-aos-duration="700" data-aos-once="true">
                        <div class="w-full md:w-6/12 ml-auto mr-auto px-4">
                            <div class="md:pr-12 mt-5">
                                <h3 class="text-3xl font-semibold">Développeur</h3>
                                <p class="mt-4 text-lg leading-relaxed text-gray-600">Développement coté client, ce que voit les utilisateurs en arrivant sur un site. Je maitrise les langages cités ci-contre. J'optimise mon code pour que les pages soient le plus rapide possible et qu'elles soient valide W3C.</p>
                            </div>
                        </div>
                        <div class="w-full md:w-6/12 ml-auto mr-auto px-4 order-first sm:order-first md:order-last lg:order-last xl:order-last">
                            <img alt="Illustration" class="max-w-full" src="images/illustrations/frond-end_illustration.svg"/>
                        </div>
                    </div>
                    
                    <hr class="mx-auto border-b-1 w-4/5 border-gray-400">

                    <div class="items-center flex flex-wrap my-20" data-aos="fade-left" data-aos-duration="700" data-aos-once="true">
                        <div class="w-full md:w-6/12 ml-auto mr-auto px-4">
                            <img alt="Illustration" class="max-w-full" src="images/illustrations/back-end_illustration.svg"/>
                        </div>
                        <div class="w-full md:w-6/12 ml-auto mr-auto px-4">
                            <div class="md:pr-12 mt-5">
                                <h3 class="text-3xl font-semibold">Étudiant</h3>
                                <p class="mt-4 text-lg leading-relaxed text-gray-600">Développement coté client, ce que voit les utilisateurs en arrivant sur un site. Je maitrise les langages cités ci-contre. J'optimise mon code pour que les pages soient le plus rapide possible et qu'elles soient valide W3C.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>